<!-- shows any error full messages when adding a new user/card based on the model integration -->
<!-- this is the partial file which is being grabbed from the card < new.html.erb AND user < new.html.erb/edit.html.erb
we are making it more DRY -->
<% if model.errors.any? %>
  <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>