<!-- if the flash notice is called, show notice message
if the flash alert is called, show alert message -->
<!-- using partial file to clean the code which these flashes are being called from -->
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>